* {
  // To include padding, margin and border size within elements size
  // otherwise system will calculate width + padding + border = actual element width
  // height + padding + border = actual element height

  box-sizing: border-box;
}

.card {
  padding: 5px;
  width: 100%;
  // padding-left: 15px;
  // max-width: 450px;
  background-color: #d5e5e7;
  box-shadow: 0 10px 20px rgb(190, 195, 224), 0 6px 6px rgb(222, 166, 165);
}


.md-toolbar-tools {
  background: #055377;
  color: white;
  height: 35px;
  font-size: 15px;
  font-weight: 400;
}

mat-label {
  font-size: 12px;
}

.mat-icon {
    font-size: 2.3em;
    color: black;
}

.mat-elevation-z8 {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
 // border-radius: 1.7em;
}

  .mat-expansion-panel {
    padding: 5px;
    margin: 5px;
    // margin-top: 225px;
    border-style: groove;
  }


.center-aligned-header > .mat-content {
  justify-content: center;
}

// mat-panel-title,
// mat-panel-description,
// span {
//   display: block;
//   align-items: center;
// }

    .myPanel {
    justify-content: center;
    background:  #d5e5e7;

    width: 70%;
    height: 45px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 1.4rem;
      }
      // .disable_ripple :hover{
      //   background:#055377;
      //   color: black;
      //        }
 mat-label {
   font-size: 12px;
 }




// To hide border line around above mat-card
// .mat-card:not([class*=mat-elevation-z]) {
//   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0);
// }

mat-card-title {
  font-size: 18px;
  color: rgb(0, 0, 0);
  align-items: center;
  text-align: center;

}

mat-card-content {
  font-size: 10px;
  color: rgb(46, 45, 45);
 }

.mat-panel-title {
  text-align: center;
}


  // .login-card {
  //   margin: 10px;
  // }



  .fas {
    color: black;
    font-size: 1.5em;
  }


  .TextBlackSm {
    font-size: 12px;
    font-weight: lighter;
    padding-left: 5px;
  }

  ::ng-deep .mat-form-field {

    .mat-input-element {
      color: rgb(0, 0, 0);
      font-size: 12px;
    }

    .mat-form-field-label {
      color: black;
      font-size: 14px;
    }

    .mat-form-field-underline {
      background-color: rgb(5, 63, 121);
    }

    .mat-form-field-ripple {
      background-color: rgb(6, 44, 82);
    }

    .mat-form-field-required-marker {
      color: rgb(112, 21, 21);
    }
  }

  i{
    margin-bottom: 20px;
    font-size: 30px;

  }


// To right alighned element
.flexExpand {
  flex: 1 1 auto;
}




  // ----
 // horizontal scrollbar code
div.scrollmenu {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  background-color:  #333;
  overflow: auto;
  white-space: nowrap;
  border-style: solid;
  border-width: thin;
  border-color: white;
}

div.scrollmenu a {
  display: inline-block;
  color: rgba(136, 135, 135, 0.938);
  text-align: center;
  padding: 3px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}


.TextDarkGray {
  font-size: 3vw;
}
// To customize scrollbar

/* width */
::-webkit-scrollbar {
  width: 0.5em;
  height: 1.2em
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(196, 182, 182);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

// -- end of code for To customize scrollbar

.thumnails{
  overflow-x: scroll;
  overflow-y: hidden;
  .list-thumbnail {
    height: 100%;
    white-space: nowrap;
      .img-thumb{
        display: inline-block;
        padding: 3px;
        margin:0 2px 0 0;
        }
  }
}

  .mat-elevation1 {
    width: 90%;
    padding: 20px;
    border-radius: 1em;
  }
  mat-card-header {
    height: 20px;
    background-color: saturation($color: #000000);
  }

  .button-icon .icon {
    display: block; /*** icons on the texts ***/
    font-size: 26px; /*** increase size of icons ***/
    margin-bottom: 3px;

  }



.card-title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.menuCard {
  height: 260px;
  width: 160px;
    }
    .mat-card-image {
      width: 50px;
      height: 50px;
    }


    @media screen and (max-width: 575px) {

      .fas {font-size: 1.0em;}
      .mat-input-element {font-size: 10px;}
      .mat-form-field-label { font-size: 8px;}
      .mat-label { font-size: 8x;}
      .container-fluid {padding-left: 8px;}
      .card {padding-left: 12px;}
      .btn-sm {max-width: 15px;height: 25px;}
      .mat-icon {font-size: 2.3em;}
      .mat-expansion-panel {margin-top: 35px; }
      ::ng-deep .mat-option-text { font-size: 9px;}

    }
