
.mat-card-small {
  width: 160px;
  height: 185px;
  font-size: 9px;
  background-color:#d5e5e7;
    // border-radius: 1.2em;

}

button {
  background-color: #055377;
  border:none;
  color:white;
}
img.mat-card-image {
  width: 125px;
  height: 72px;
}

.mat-card-image {
  width: 90%;
  height: 50px;
  padding-top: 5px;
}
