<div class="card-container">
    <app-header-scroll></app-header-scroll>
</div>
  
<div class="content mat-elevation-z8 mat-elevation1"  style="box-shadow: rgba(90, 83, 83, 0.75) 10px 10px 5px 0px; background-color:#d7e6ec; color: black; ">
    <div class="row text-center">
      <span class="flexExpand"></span>
    <button type="button" class="btn btn-sm" routerLink="/agent">
        <i class="fas fa-user"></i>&nbsp;
        Login</button>
        <p class="TextDarkGray ">

        At<strong class="HeadFonts1"> Prime Tours & Travels </strong>we provide services and travel solutions to meet the
        best of your demands.
  
        Join our ever-growing team of professionals and discover your path to Success....
        Less is more…. Earn more with least efforts!
       
      </p>
        
    </div>
    <div class="row" style="padding: 20px;">
      <br>
        <br>
        <br>
        <br>
    <img mat-card-image src="../../../../assets/images/b2bHome.png" alt="Photo of airplane">
      
     
    </div>
    <div class="row">
      <br>
      <div class="col-12 text-center">
        <p class="TextDarkGray text-center">
      <strong class="display-3small text-center">Coming together is a beginning...</strong>
      <br>
      <strong class="display-3small text-center">Keeping together is progress...</strong>
      <br>
      <strong class="display-3small text-center">And working together is success...</strong>
      <br>
      <strong class="display-3small text-center">(Henry Ford)</strong> 
  
    </div>
    
  </div>
  <div class="row">
    <br>
    <div class="col-12 text-center">
      <br>
      <p class="TextDarkGray">
      Our B2B portal is a dashboard for Travel Agents to book and to pay benefiting all. You need only register with Us and start your earning NOW!!!
      </p>
    </div>
  </div>

<div>
    <app-footer></app-footer>
</div>  