<body>
  <p class="pageTitleTomato" routerLink="/" style="text-align: center;">
    Welcome to</p>

  <p class="pageTitleTomato" routerLink="/" style="text-align: center;">
      PrimeTours Admin Dashboard</p>

      <div class="row container-fluid" >

        <mat-card>


          <mat-card-content routerLink="/admin/manage-hotels">
         Hotels



          </mat-card-content>
      </mat-card>
      <mat-card>


          <mat-card-content routerLink="/admin/manage-properties">
         Properties



          </mat-card-content>
      </mat-card>

      <mat-card>





            <!-- <button  mat-mini-fab color="primary" class="float-right button24">
                <mat-icon class="icon24" aria-label="Student details">arrow_forward_ios</mat-icon>
            </button>

            <button  mat-mini-fab color="primary" class="float-right button24">
              <mat-icon class="icon24" aria-label="Edit Student">edit</mat-icon>
            </button>

            <button mat-mini-fab color="warning" class="float-right button24">
              <mat-icon class="icon24" aria-label="Edit Student">edit</mat-icon>
            </button> -->



          <mat-card-content>
         Packages



          </mat-card-content>
      </mat-card>
    </div>
</body>
