
<div class="card-container">
  <app-header-scroll></app-header-scroll>
</div>
<div class="content text-center">
    <div class="row">
        <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="jumbotron jumbotronBlue mat-elevation-z8 TextWhite">
                At<strong class="HeadFonts"> Prime Tours & Travels </strong>we provide services and travel solutions to meet
                the best of your demands.
                Our beginning may be trivial but our objective of achieving ‘Total Customer Satisfaction’ gives us a
                competitive edge and enables us to deliver the highest standard of services to our customers.
                In this age of emoji and abbreviations, majority of travelers are duped by hidden fares or “conditions apply”,
                we strongly believe in complete transparency and loyalty to our fellow customers and strive to provide them
                with the same.
                Though lost to many in these times of tech dependency, we believe in the sense of “Personal Touch” and assure
                looking out for you to the best of our abilities as your own.
                From a solo weekend getaway to well-planned out, long overdue family vacation, we provide the best travel
                solutions to it, all at the best rates.
        
              </div>
        </div>
        <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="jumbotron mat-elevation-z8" style="box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 5px 0px; background-color: rgb(231, 166, 26);">
                <!-- <mat-toolbar color=primary><i class="fas fa-envelope">&nbsp;</i> Write to us:</mat-toolbar> -->
                <h1 class="" style="font-size: 4vw;">Write to us</h1>
                <i class="fas fa-envelope">&nbsp; support@primetourz.com</i>
                <br>
                <br>
                <i class="fas fa-phone">&nbsp; UAE: +97-565656999</i>
                <br>
                <br>
                <i class="fas fa-phone">&nbsp; India: +91-8989767654</i>
            </div>
        </div>
        
    </div>
</div>
<div>
  <app-footer></app-footer>
</div>  