
<div class="card-container">
  <app-header-scroll></app-header-scroll> 
</div>
<div class="row" style="margin-top: 170px; margin-left: 5px">
  <h5 class="card-title">Welcome to {{this.pageTitle}}</h5>
</div>

<div class="row">
  <!-- <div class="card mat-elevation-z8" routerLink ="/contact">
    <img class="card-img-top" src="../../assets/images/hotelbanner.gif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Hotels</h5>
      <p class="card-text">Search hotel of your choice and budget from thousands of luxary 
        and economical hotels acrross the globe</p>
     
    </div>
  </div> -->

  <div class="card">
    <img class="card-img-top" src="../../assets/images/hotelbanner.gif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tours</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12"> 
    <div class="">
      <app-hotel-carousel></app-hotel-carousel>
    </div>
  </div>
 

  <div class="card">
    <img class="card-img-top" src="../../assets/images/hotelbanner.gif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Umrah & Hujj</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
     
    </div>
  </div>
  

  
</div>
<div>
  <app-footer></app-footer>
</div>