<div class="row">
    <div class="fixed-top" data-toggle="affix">
      <div class="navbar navbar-expand-sm align-items-start" id="first" style="background-color: #323435;">
        <a routerLink="/" style="padding-top: 20px;">

          <span class="pageTitleTomato" routerLink="/">PrimeTours</span>
        </a>

        <span class="flexExpand"></span>
        <a title="PrimeTourz Home">
          <img class="companyLogo" id="logoimg" src="../assets/images/PrimeLogo.png" routerLink="/">
        </a>
          </div>

      <!-- Second navbar -->

      <div class="navbar navbar-expand pl-2" id="second" style="background-color: #323435;">

        <div class="scrollmenu">


          <a title="Hotels">
            <div class="menuCard"  routerLink ="/user-hotel">
              <br>
              <div>Hotels</div>
              <span class="material-icons">hotel</span>
            </div>
          </a>
          <a title="Flights">
            <div class="menuCard"  routerLink ="/user-flights">
              <br>
              <div>Flights</div>
              <span class="material-icons">airplanemode_active</span>
            </div>
          </a>

          <a title="Tours">
              <div class="menuCard" routerLink ="/user-tours">
                  <br>
                  <div>Tours</div>
                  <span class="material-icons">shop_two</span>
              </div>
          </a>




          <a title="Umra & Hujj">
            <div class="menuCard" style="width: auto; padding: 0px 5px;" routerLink ="/user-hujj">
              <br>
              <div>Umra & Hujj</div>
              <span class="my-social-kaaba-solid"></span>
            </div>
          </a>

          <a title="Custom Packages">
            <div class="menuCard" style="width: auto; padding: 0px 5px;" routerLink ="/user-packages">
              <br>
              <div>Custom Packages</div>
              <span class="material-icons">business_center</span>
               </div>
          </a>

          <a title="Agents">
            <div class="menuCard"  routerLink ="/b2b">
              <br>
              <div>Agents</div>
              <span class="material-icons">how_to_reg</span>
               </div>
          </a>
          <a title="Contact/About Us">
            <div class="menuCard" style="width: auto; padding: 0px 5px;" routerLink ="/contact">
              <br>
              <div>Contact/About Us</div>
              <span class="material-icons">contact_page</span>
               </div>
          </a>


        </div>
        </div>

    </div>

  </div>
